SUPABASE_URL=https://udimzcflyvjczotttcqy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkaW16Y2ZseXZqY3pvdHR0Y3F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4MTkyOTAsImV4cCI6MjA4NjM5NTI5MH0.giUq4w38jBnHck9E9u3IlrNRAy42MV3h9T1SyPPhC0w
PORT=10000